#login{
  text-align: right;
  margin-right: 20px;
}

#titlebox {
  padding:20px;
  background-color:HoneyDew;
  border:solid GreenYellow 2px;
  margin:50px;
  width:500px;
  text-align:center;
}

#questionlistbox {
  padding:20px;
  background-color:MistyRose;
  border:solid FireBrick 2px;
  margin:50px;
  width:500px;
  text-align:center;
}

#questionbox {
  padding:20px;
  background-color:LightCyan;
  border:solid DeepSkyBlue 2px;
  margin:50px;
  width:500px;
  text-align:center;
}

#questiontable {
  width:450px;
}

#test {
  color:green;
}

body {
  font-family:arial;
}

.poste {
  width:35%;
  text-align:center;
}

.delete {
  width:12%;
}

.markanswered {
  width:12%;
}
#loginbox{
  padding:20px;
  background-color:#FF9999;
  border:solid #FF0066 2px;
  margin:50px;
  width:500px;
  text-align:center;
}

h4{
size: 2em;
}
