@(course: Course, questionForm: Form[String],email: Option[String],firstname: Option[String],lastname: Option[String])

@import helper._

@main("@course.title") {
  <header id="login">
    @email match {
      case Some(email) => {
        <span>@email - @firstname @lastname</span> <a href="@routes.Application.logout">Logout</a>
      }
      case None        => {
        <a href="@routes.Application.login">Login</a>
      }
    }
  </header>
  <center>
    <div id="titlebox">
      <h1>@course.title</h1>
    </div>
    
    <div id="questionlistbox">
      <table id = "questiontable">
	@course.questions.map { question =>
	  <tr>
		<td class = "poste">
		  @question.workstationId
		</td>
		<td class = "delete">
		  @form(routes.Application.deleteQuestion(question.id)) {
		    <input type="submit" value="Delete">
		  }
		</td>
		<td class="markanswered">
		  @form(routes.Application.setQuestionAsAnswered(question.id)) {
		    <input type="submit" value="Mark as answered">
		  }
		</td>
		<td>
		  @if(question.answered) { (answered) }
		</td>
	  </tr>
	}
      </table>
    </div>
    
    <div id="questionbox">
      <h2>J'ai une question!</h2>
      
      @form(action = routes.Application.newQuestion) {
	Numéro de poste <br/>
	<input type="text" name="workstationId"/>
	<input type="submit" value="Create">
	
      } 

    </div>

    </center>
}
