@(loginForm: Form[String], errorMessage: String)

@import helper._

@main("Login") {
	<center>

	  <p>@errorMessage</p>

	  @form(routes.Application.loginPost) {
		  <div id="loginbox">
<h4>Choisir un fournisseur d'identité (OpenId provider)</h4>
		    <!--@inputText(loginForm("openid"))!-->
		    <select name="openid">
		      <option value="https://www.google.com/accounts/o8/id">Google</option>
		      <option value="https://me.yahoo.com">Yahoo!</option>
                      <option value="openid.aol.com/username">AOL</option>

		    </select>
		    <input type="submit" value="Login" class="loginbox">
		  </div> </center>
	  }
	
}
